
@model  MvcPractice.Models.OrderViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Add</title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>*@

@section MyStyle
{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}
<div>
    <form method="POST">
        <div class="form-group">
            <h2>Code</h2>
            @Html.DropDownList("MemberItemId", null, "--Select--", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" placeholder="Enter Name" name="Name">
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" placeholder="Enter Email" name="Email">
        </div>
        <div class="form-group">
            <label for="ContactNo">ContactNo:</label>
            <input type="text" class="form-control" id="ContactNo" placeholder="Enter ContactNo" name="ContactNo">
        </div>
        <div class="form-group">
            <label for="Type">Type</label>
            <input type="text" class="form-control" id="Type" placeholder="Enter Type" name="Type">
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.FoodItem)
            @Html.DropDownListFor(c => c.FoodItem, Model.FoodItemSelectListItems, "--Select--")
        </div>
        <div class="form-group">
            <label for="Price">Price</label>
            <input type="text" class="form-control" id="Price" placeholder="Enter Price" name="Price">
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Qauntity)
            @Html.TextBoxFor(c => c.Qauntity, Model.Qauntity)
            @Html.ValidationMessageFor(c => c.Qauntity)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Date)
            @Html.TextBoxFor(c => c.Date, Model.Date)
            @*@Html.ValidationMessageFor(c => c.OrderDate)*@
        </div>

        <input type="submit" value="Submit" class="btn btn-default">
    </form>

    @*@{
            Html.RenderPartial("~/Views/Shared/Member/_MemberDetails.cshtml", Model);
        }*@

</div>
@section MyScript
    {

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#MemberItemId").change(function () {
                var memberId = $("#MemberItemId").val();
                var jsonRequestData = { memberId: memberId }

                $.ajax({
                    url: "/Order/GetMemberDetailsByMemberId",
                    type: "POST",
                    data: jsonRequestData,
                    success: function (data) {
                        //alert("Ajax Success.");

                        $.each(data, function (key, value) {
                            $("#Name").val(value.Name);
                            $("#Email").val(value.Email);
                            $("#ContactNo").val(value.ContactNo);
                            $("#Type").val(value.TypeId);
                        });
                    },
                    error: function () {
                        alert("Ajax Failed For Select Member Details.");
                    },
                });
            });



            });
    </script>
}

@*</body>
    </html>*@





